/* icons */
.material-symbols-outlined {font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24}

/* common */
body{color: #333; font-size: 16px; font-weight: 400; line-height: 1.4; font-family: 'Nanum Gothic', sans-serif;}
header{font-family: 'Avenir', sans-serif;}
a{text-decoration: none;}
.inner{position: relative; width: 1100px; margin: 0 auto;}
.strong{font-weight: 900;}
img{display: block;}/*크기만큼 높이값 가져감*/

/* button */
.btn{display: inline-block; padding: 6px 20px; border: 2px solid currentColor;/*색지정 없을 시 부모 색상 가져옴*/ border-radius: 5px; font-size: 15px;}
.btn--light-green{color: #076443; border-color: #076443; transition: .6s;}
.btn--light-green:hover{background-color: #076443; border-color: #036635; color: white; text-decoration: underline;}
.btn--brown{color: #633510; border-color: #633510; transition: .6s;}
.btn--brown:hover{background-color: #633510; color:white; text-decoration: underline;}
.btn--gold{color: #966932; border-color: #966932; transition: .6s;}
.btn--gold:hover{background-color: #966932; color:white; text-decoration: underline;}
.btn--white{color: white; border-color: white; transition: .6s;}
.btn--white:hover{background-color: white; color:black; text-decoration: underline;}
.btn--black{color: black; border-color: black; transition: .6s;}
.btn--black:hover{background-color: black; color:white; text-decoration: underline;}

/* header */
header{position: fixed; width: 100%; top: 0; background-color: #f6f5ef; border-top: 2px solid black; border-bottom: 1px solid #eae7e2; z-index: 1;} 
header>.inner{height: 120px;}
header .inner .logo{position: absolute; margin: auto; top: 0; bottom: 0; left: 0; height: 75px;}
/* 수직 중앙정렬
transform: translateY(-50%); display: block; position: absolute;  top: 50%; */

/* sub menu */
header .sub-menu {position: absolute; top: 6px; right: 50px; display: flex;}
header .sub-menu .sub-menu__menu/*ul.menu*/ {text-align: center; display: flex;}
header .sub-menu .sub-menu__menu>li:not(:first-child)::after{content: ""; position: absolute; top: 0; bottom: 0; margin: auto; display: block; width: 1px; height: 13px; background-color:#e5e5e5;} 
header .sub-menu .sub-menu__menu>li>a{display: block; color: #656565; padding: 10px 15px; font-size: 13px;}
header .sub-menu .sub-menu__menu>li>a:hover{text-decoration-line: underline;}

/* search */
header .sub-menu .search{position: relative; height: 34px; cursor: pointer;}
header .sub-menu .search>input{width: 36px; height: 34px; padding: 4px 10px; border: 1px solid #ccc; box-sizing: border-box; border-radius: 5px; outline: none; transition: width 0.4s;}
header .sub-menu .search>input.menu-toggle:focus{width: 200px;}
header .sub-menu .search>.material-symbols-outlined{position: absolute; margin: auto; right: 3px; top: 0; bottom: 0; height: 24px;}


/* main menu */
header .inner .main-menu{display: flex; position: absolute; bottom: 0; right: 0; cursor: pointer;}
header .inner .main-menu .item .item__name{padding: 10px 22px 34px 22px; font-size: 13px;}
header .inner .main-menu .item:hover .item__name{text-decoration-line: underline; background-color: #2c2a29; color: #690;}

/* main menu contents */
header .inner .main-menu .item .item__contents{position: fixed;width: 100%; left: 0; top: 120px; display: none;}
header .inner .main-menu .item:hover .item__contents{display: block;}
header .main-menu .item .item__contents .item__contents__menu{background-color: #2c2a29; padding: 20px 0;}
header .main-menu .item .item__contents .item__contents__menu .inner{display: flex;}
header .main-menu .item .item__contents .item__contents__menu .inner>li{width: 200px; /*flex-basis사용 가능*/ padding-right: 20px;}
header .main-menu .item .item__contents .item__contents__menu .inner>li>a{display: block;/*글자여서*/ margin-bottom: 15px; color: white; font-size: 14px; font-weight: bold;}
header .main-menu .item .item__contents .item__contents__menu .inner>li>a:hover{text-decoration-line: underline;}
header .main-menu .item .item__contents .item__contents__menu .inner>li>ul>li{color: #999; font-size: 12px; margin: 5px 0;}
header .main-menu .item .item__contents .item__contents__menu .inner>li>ul>li:hover{cursor: pointer; text-decoration: underline;}

/* badge */
header .badges{position: absolute; top: 150px; left: calc(1100px + (100vw - 1100px) / 2); /*right:10px;*/}
header .badges .badge img{cursor: pointer;}
@media screen and (max-width:1400px) {
   header .badges{left: calc(100vw - 150px);}
}

/* visual 2 */
.visual{position: relative; background-image: url("../images/visual_bg.jpg"); background-position: center; background-repeat: no-repeat; margin-top: 120px; background-size: 106% 100%;}
.visual .inner{height: 646px;}
.visual .inner .slogan{position: absolute; display: flex; flex-wrap: wrap; width: 340px; justify-content: center; left: -60px; top: 185px;}
.visual .inner .slogan img{display: block; width: 340px;} 
.visual .inner .slogan .btn{position: absolute; top: 240px;}
.visual .inner .item-1{position: absolute; width: 290px; top: 120px; left: 340px;}
.visual .inner .item-2{position: absolute; width: 310px; top: 208px; left: 538px;}
.visual .inner .item-3{position: absolute; width: 310px; top: 162px; left: 762px;}
/* .visual .inner .slogan .btn{display: block; color: #076443; transition: .6s;}
.visual .inner .slogan .btn:hover{background-color: #076443; color: white; font-weight: bold; text-decoration: underline;} --> 상단 button css부분에 모아두기 (버튼 호버 효과)*/

/* notice */
.notice{position: relative;}
.notice .notice-line{position: relative; font-weight: bold;}
.notice .notice-line .bg-left{position: absolute; top: 0; left: 0; width: 50%; height: 100%; background-color: #111;}
.notice .notice-line .bg-right{position: absolute; top: 0; right: 0; width: 50%; height: 100%; background-color: #f6f5ef;}
.notice .notice-line .inner{height: 62px; display: flex;}
.notice .notice-line .inner .inner__left{position: relative; width: 60%; height: 100%; background-color: #111; display: flex; align-items: center; color: white;}
.notice .notice-line .inner .inner__left h1{position: absolute; left: 0; font-size: 16px;}
.notice .notice-line .inner .inner__left div{position: absolute; left: 80px; font-size: 14px;}
.notice .notice-line .inner .inner__left a{ position: absolute; right: 20px; color: white;}
.notice .notice-line .inner .inner__left a span{font-size: 36px; vertical-align: bottom; /*display:block;사용 가능*/}
.notice .notice-line .inner .inner__right{position: relative; width: 40%; height: 100%; align-items: center; display: flex; background-color: #f6f5ef;}
.notice .notice-line .inner .inner__right h1{position: absolute; right: 120px; font-size: 16px; }
.notice .notice-line .inner .inner__right a{position: absolute; right: 20px; color: black;}
.notice .notice-line .inner .inner__right a span{font-size: 36px; vertical-align: bottom;}

/* rewards */
.rewards{position: relative; background-color: #1e3932;}
.rewards .inner{position: relative; padding: 30px 0 40px 0; display: flex;}
.rewards .inner .rewards__logo{flex-basis: 260px;}
.rewards .inner .rewards__logo img{display: block; width: 176px;}
.rewards .inner .rewards__items{flex-grow: 1;}
.rewards .inner .rewards__items .rewards__items__register{position: relative; padding-bottom: 12px; box-shadow: 0 0.5px #c8c8c8; /*1px보다 얇은 선 사용할때*/}
.rewards .inner .rewards__items .rewards__items__register p{display: block; font-size: 17px; color: white;}
.rewards .inner .rewards__items .rewards__items__register p.subject{font-size: 26px; margin-bottom: 10px;}
.rewards .inner .rewards__items .rewards__items__register .buttons{position: absolute; right: 0; bottom: 12px;}
.rewards .inner .rewards__items .rewards__items__register .buttons .btn--register{background-color: #00704a; border-color: #00704a; color: white; margin-right: 6px; font-weight: 700;}
.rewards .inner .rewards__items .rewards__items__register .buttons .btn--login,
.rewards .inner .rewards__items .rewards__items__card .buttons .btn--login{color: white; border-color: white; font-weight: 700;}
.rewards .inner .rewards__items .rewards__items__register .buttons .btn--register:hover,
.rewards .inner .rewards__items .rewards__items__register .buttons .btn--login:hover,
.rewards .inner .rewards__items .rewards__items__card .buttons .btn--login:hover{text-decoration: underline;}
.rewards .inner .rewards__items .rewards__items__card{position: relative; padding-top: 20px;}
.rewards .inner .rewards__items .rewards__items__card p{display: block; font-size: 14px; color: white;}
.rewards .inner .rewards__items .rewards__items__card .buttons{position: absolute; right: 0; bottom: 0;}

/* elsalvador 1 
.elsalvador{position: relative; background-image: url("../images/elsalvador_bg.jpg"); height: 570px; overflow: hidden; background-size: 105%; background-position: center; background-size: cover;}
.elsalvador .inner{display: flex; align-items: center; justify-content: space-around;}
.elsalvador .inner .elsalvador__item{position: relative; top: 70px; transform: translateX(-700px); opacity: 0; transition: 2.5s;}
.elsalvador:hover .inner .elsalvador__item{transform: translateX(0px); opacity: 1;}
.elsalvador .inner .elsalvador__contents{transform: translateX(900px); opacity: 0; transition: 2.5s;}
.elsalvador:hover .inner .elsalvador__contents {transform: translateX(0px); opacity: 1;}
.elsalvador .inner .elsalvador__contents .btn--brown{position: absolute; top: 130px;}*/
/*애니메이션을 거는 화면은 flex사용하면 다루기 어려워짐 - position사용 권장*/

/* elsalvador 2*/
.elsalvador{position: relative; background-image: url("../images/elsalvador_bg.jpg"); height: 570px; overflow: hidden; background-size: 105%; background-position: center; background-size: cover;}
.elsalvador .inner{position: relative;}
.elsalvador .inner .elsalvador__item{position: absolute; width: 310px; top: 85px; left: 90px; transform: translateX(-700px); opacity: 0; transition: 2.5s;}
.elsalvador:hover .inner .elsalvador__item{transform: translateX(0px); opacity: 1;}
.elsalvador .inner .elsalvador__contents{position: absolute; width: 339px; top: 200px; right: 150px; transform: translateX(900px); opacity: 0; transition: 2.5s;}
.elsalvador:hover .inner .elsalvador__contents {transform: translateX(0px); opacity: 1;}
.elsalvador .inner .elsalvador__contents .btn--brown{margin-top: 30px;} 

/* ethiopia */
.ethiopia{position: relative; background-image: url("../images/ethiopia_bg.png"); overflow: hidden; height: 400px;}
.ethiopia::before{content: ''; background-image: url("../images/ethiopia_before.png"); background-repeat: no-repeat; background-size: cover; width: 425px; height: 404px; position: absolute; bottom: 0; left: 0; opacity: 0; transition: 2.5s;}
.ethiopia::after{content: ''; background-image: url("../images/ethiopia_after.png"); background-repeat: no-repeat; background-size: cover; width: 361px; height: 404px; position: absolute; top: 0; right: 0; opacity: 0; transition: 1.5s;}
.ethiopia:hover::before,.ethiopia:hover::after{opacity: 1;}
.ethiopia .inner .ethiopia__contents{position: absolute; width: 496px; top: 120px; left: 0;}
.ethiopia .inner .ethiopia__item{position: absolute; left: -480px; opacity: 0; transition-delay: 1s; transition-duration: 1.5s;}
.ethiopia:hover .inner .ethiopia__item{opacity: 1;}
.ethiopia .inner .btn--gold{position: absolute; top: 280px; left: 265px;} 

/* favorite */
.favorite{position: relative; background-image: url("../images/fav_bg.png"); background-size: cover; background-attachment: fixed; height: 800px;}
.favorite .inner .favorite-img{position: absolute; right: -230px; top: 100px;}
.favorite .inner .favorite__contents .favorite-text1{position: absolute; width: 258px; left: 50px; top: 150px; transform: translateX(-700px); opacity: 0; transition: 1.5s;}
.favorite .inner .favorite__contents .favorite-text2{position: absolute; width: 362px; left: -50px; top: 400px; transform: translateX(-700px); opacity: 0; transition: 1.5s .3s;}
.favorite:hover .inner .favorite__contents .favorite-text1,
.favorite:hover .inner .favorite__contents .favorite-text2{transform: translateX(0px); opacity: 1;}
.favorite .inner .favorite__contents .btn--white{position: absolute; top: 600px; left: 190px;}

/* magazine */
.magazine{position: relative; background-image: url("../images/magazine_bg.png"); background-size: auto; background-repeat: no-repeat; height: 400px; background-position: 50% 100%;}/*background-size: cover; background-position:center 50px;*/
.magazine .inner .magazine-img{position: absolute; right: 40px; opacity: 0; transition: 1s;}
.magazine:hover .inner .magazine-img{opacity: 1;}
.magazine .inner .magazine__contents .magazine-text{position: absolute; width: 588px; top: 150px; left: 50px;}
.magazine .inner .magazine__contents .btn--black{position: absolute; top: 280px; left: 300px;}

/* find store */
.find-store{position: relative; background-image: url("../images/store_bg.jpg"); background-repeat: no-repeat; background-size: cover; height: 400px; overflow: hidden;}
.find-store .inner .store_img1{position: absolute; top: 0; left: 30px; opacity: 0; transition: 2s;}
.find-store .inner .store_img2{position: absolute; top: 150px; left: 250px; opacity: 0; transition: 2s;}
.find-store .inner .store_img3{top: -50px; transform: translateX(-50%); position: absolute; left: 50%; opacity: 0; transition: 2s;}
.find-store .inner .store_img4{top: 298px; position: absolute; right: 0; opacity: 0; transition: 2s;}
.find-store:hover .inner .store_img1,
.find-store:hover .inner .store_img2,
.find-store:hover .inner .store_img3,
.find-store:hover .inner .store_img4{opacity: 1;}
.find-store .inner .find-store__contents{position: absolute; right: 100px; top: 100px;}
.find-store .inner .find-store__contents .store_text1{opacity: 0; transform: translateX(900px); transition: 2.5s;}
.find-store .inner .find-store__contents .store_text2{margin-top: 20px; opacity: 0; transform: translateX(900px); transition: 3s;}
.find-store .inner .find-store__contents .btn--black{margin-top: 30px; transition: transform 3.5s, background-color .6s, color .6s, text-decoration .6s; opacity: 0; transform: translateX(900px);}
/*버튼도 hover 시간이 바뀜 - 버튼에 transition: transform 2s, background-color .6s, color .6s, text-decoration .6s; -> 각각 시간 부여*/
.find-store:hover .inner .find-store__contents .store_text1,
.find-store:hover .inner .find-store__contents .store_text2,
.find-store:hover .inner .find-store__contents .btn--black{transform: translateX(0px); opacity: 1;}

/* footer */
footer{position: relative; background-color: #2c2a29;}
footer .inner{padding: 30px 0;}
footer .inner .footer__menu{display: flex;}
footer .inner .footer__menu .left{width: 90%;}
footer .inner .footer__menu .left .menu{display: flex;}
footer .inner .footer__menu .left .menu>li{width: 20%;}
footer .inner .footer__menu .left .menu>li ul a{font-size: 14px; margin: 10px 0; display: block; color: white;}
footer .inner .footer__menu .left .menu>li>ul>li{font-size: 12px; padding: 5px 0; color: white;}
footer .inner .footer__menu .left .menu>li ul a:hover,
footer .inner .footer__menu .left .menu>li>ul>li:hover{text-decoration: underline; cursor: pointer;}
footer .inner .footer__menu .right{width: 10%;}
footer .inner .footer__menu .right img{float: right;}

/* footer sub menu */
.footer__sub-menu{position: relative; background-color: #2c2a29;}
.footer__sub-menu ul{display: flex; justify-content: center;}
.footer__sub-menu ul>li{font-size: 12px; margin-right: 7px;}
.footer__sub-menu ul>li>a{color: #ccc;}
.footer__sub-menu ul>li>a:hover{text-decoration: underline;}
.footer__sub-menu ul>li:first-child>a{color: #00b050;}
.footer__sub-menu ul li.contour{color: #ccc;}

/* footer btn */
.footer__btn{display: flex; justify-content: center;}/*inline 요소 -> text-align: center; 사용가능*/
.footer__btn a{font-size: 12px; margin: 10px 0 0 5px;}

/* footer copyright */
.footer__copyright{font-size: 12px; text-align: center; color: #999999; padding: 20px; padding-bottom: 50px;}